<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mengwang.guessyourfav"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- if you just want to save the image in your private photo directory and you'are using >= 4.4, this permission is no longer needed -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mengwang.ui.activity.FavMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mengwang.ui.activity.UsingCameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mengwang.ui.activity.AnimationTestActivity" >
        </activity>
        <activity android:name="com.mengwang.ui.activity.SwipeRefreshActivity" />
        <activity
            android:name="com.mengwang.ui.activity.PocketAnimActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity android:name="com.mengwang.ui.activity.ShapeTestActivity"/>
    </application>

</manifest>